
/*Generic Styling for All pages*/
#navbarTitle {
    margin-right: 40px;
    float: right;
    position: relative;
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
}

.topnav {
    position: fixed;
    background-color: #333;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    top: 0;
    z-index: 2;
    height: 125px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav .dropmenuStyle:hover {
    background-color: #333;
    color: white;
}

.loginButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0)) !important;
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0) !important;
    background-color: #3d94f6 !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    border: 1px solid #337fed !important;
    display: inline-block !important;
    cursor: pointer;
    color: #ffffff !important;
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 6px 24px !important;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px #1570cd !important;
    margin-bottom: 5px !important;
}
.loginButton {
    float: right !important;
    margin-top: 10px;
    margin-right: 5px;
}
#logoutButton {
    position: fixed;
    z-index: 2;
    margin-top: -151px;
    float: right;
    margin-left: 320px;
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    background: -moz-linear-gradient(top, #e52828 5%, #e50d0d 100%) !important;
    background: -webkit-linear-gradient(top, #e52828 5%, #e50d0d 100%) !important;
    background: -o-linear-gradient(top, #e52828 5%, #e50d0d 100%) !important;
    background: -ms-linear-gradient(top, #e52828 5%, #e50d0d 100%) !important;
    background: linear-gradient(to bottom, #e52828 5%, #e50d0d 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0) !important;
    background-color: red !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    border: 1px solid #337fed !important;
    /*display: inline-block !important;*/
    cursor: pointer;
    color: #ffffff !important;
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 6px 24px !important;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px #1570cd !important;
    margin-bottom: 5px !important;
}

.cartHyperlink {
    float: right !important;
    max-height: 50px !important;
    max-width: 50px !important;
    padding: 0px !important;
    border-radius: 25px;
}

.cartIcon {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #eaea2d;
    border-radius: 25px;
    margin-right: 10px;
}

#cartTotal {
    float: right;
    background-color: #f1f109;
    font-size: larger;
    font-family: arial;
    border-radius: 15px;
    padding: 5px;
    margin-top: 11px;
    margin-right: 10px;
}

.searchBarContainer{
    height:20px;
}
.searchBar, .searchBarCSS {
    margin-top: -140px;
    float: right;
    position: fixed;
    z-index: 3;
    font-size: 17px;
    width: 255px;
    height: 20px !important;
    right: 1%;
}

#slideshowHyperlink {
    margin-right: 30%;
    margin-left: 20%;
    display: inline-block;
    width: 40px;    /*Quick Fix*/
    height: 480px;
}
.slideshowImage {
    width: 640px;
    height: 480px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    position: absolute;
}
/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: #4CAF50;
    color: white;
}*/
footer {
    background-color: #4e2700;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 32px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    height: 65px;
    color: #dccccc;
}

html, body {
    overflow: visible !important;
    width: 100%;
    position: relative; /*<!--Also give it a position -->*/
    margin: 0;
    padding: 0;
    overflow: auto !important; /*<!-- HERE -->*/
    min-height: 800px !important;
}

#homepageBody {
    background-image: url(../images/background1.jpg);
    /*background-repeat: repeat;*/
    background-size: cover;
    z-index: -2;
    overflow-y: scroll;
}


/*Template styling for store*/

.footerHyperlinks, .topnavHyperlinks {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0)) !important;
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%) !important;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0) !important;
    background-color: #3d94f6 !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    border: 1px solid #337fed !important;
    display: inline-block !important;
    cursor: pointer;
    color: #ffffff !important;
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 6px 24px !important;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px #1570cd !important;
    margin-bottom: 5px !important;
}

.footerHyperlinks:hover,
.topnavHyperlinks:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef)) !important;
    background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%) !important;
    background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%) !important;
    background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%) !important;
    background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%) !important;
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0) !important;
    background-color: #019ad2 !important;
}

.footerHyperlinks:active,
.topnavHyperlinks:active {
    top: 1px !important;
}

.topnavHyperlinks {
    float: none !important;
    text-align: unset !important;
    padding: 6px 24px !important;
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%) !important;
    margin-left: 0px;
    position: relative;
    margin-top: 82px;
}

@media screen and (max-width: 1050px) {
    .topnav{
        height: 145px !important;
    }
    .topnavBuildComp {
        margin-left: -50px;
    }

    .topnavOrderParts {
        margin-left: 85px;
    }
    .topnavContact {
        margin-left: 230px;
        /*margin-top: 0px !important;*/
    }
    .topnavHyperlinks{
        margin-top: 94px !important;
        position: absolute;
    }
    .dropbtn {
        margin-top: 70px !important;
    }
    #myDropdown{
        margin-top: 120px !important;
    }
}
.storeLogoLink{
    width: 305px;
    height: 54px;
    padding: 0px !important;
}

.storeLogoLink:hover{
    cursor: pointer;
}

.storeLogo {
    width: 300px;
    height: 51.4px;
    margin-left: -5px;
}

#storeLogoLinkFooter {
    float: left;
    margin-top: -10px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    float: left;
    margin-top: -35px;
    margin-left: -275px;
}

#myDropdown {
    position: absolute;
    margin-top: 15px;
    margin-left: -275.5px;
    max-width: 162px;
    background-color: #d6c6d5;
}

.selectable {
    background: #4CAF50 !important;
    color: white !important;
}

.dropmenuStyle {
    border: 4px solid #53cbdd;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*End of template styling for store*/

/*Styling for homepage.aspx*/
.productCategoryIcons {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.productTypeImage {
    width: 150px !important;
    height: 150px !important;
}

.productCategoryRow {
    margin-left: auto;
    margin-right: auto;
}
.productTypeContainer {
    width: 150px !important;
    /* height: 150px !important; */
    text-align: center;
    display: inline-table;
    border: 1px solid #007bff;
    margin-bottom: 10px;
    padding-top: 15px;
}

/*End styling for homepage.aspx*/
/*Style for aboutUs.aspx*/
#aboutUsHeaderContainer {
    margin-top: 150px;
    width: auto;
    /* margin: 0; */
    padding: 15px 25px;
    background: #0d4075;
    font-size: 10px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 685px;
}

#aboutUsHeader {
    color: #fd0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.9em;
}

#buildPCHeader{
    color: #fd0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.9em;
}

#buildPCHeaderContainer{
    margin-top: 150px;
    width: auto;
    /* margin: 0; */
    padding: 15px 25px;
    background: #0d4075;
    font-size: 8px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 685px;
}

#aboutUsImage {
    width: 500px;
    height: 333.33px;
    margin-left: 100px;
    margin-top: 25px;
}

#feedbackLogoImage {
    width: 300px;
    height: 51.39px;
    margin-left: 100px;
    margin-top: 25px;
}

#aboutUsDescription, #contactUsDescription, #loginDescription {
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

/*#contactUsDescription{
    /*display: inline;
}*/

#contactUsDescription2 {
    margin-left: 400px;
    margin-bottom: 200px;
    margin-top: -300px;
}

#loginDescription2 {
    margin-left: 500px;
    margin-bottom: 200px;
    margin-top: -350px;
}

#loginDescription3 {
    margin-bottom: 200px;
    margin-top: -350px;
    margin-left: 130px;
}

.aboutUsH2 {
    background: none;
    width: 95%;
    margin: 25px 0 15px;
    font-weight: bold;
    font-size: 1.8em;
    line-height: normal;
    color: #005495;
}

#feedbackForm, .feedbackForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.feedbackInputStyle {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
#submitButton, .submitButton {
    /* 	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327; */ /* can uncomment for shade */
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
    margin-top: -5px;
}

#reqFirstName, #reqLastName, #reqEmail,
#reqFeedback, #regexEmailValid {
    float: right;
    border: 1px solid red;
    border-radius: 10px;
    padding: 2px;
    font-size: 20px;
    font-family: arial;
    background-color: #c39393;
    color: #e8e7e7;
    margin-top: -11px;
}

#regexEmailValid {
    margin-right: -220px;
}

/* login.aspx styling*/

#Login1 input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#loginDescription input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#loginDescription button {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#signupDescription input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#signupSuccess {
    color: #5bed5b;
    font-family: Arial;
    font-size: larger;
    background-color: black;
    padding: 10px;
    margin-top: 15px;
    position: absolute;
    margin-left: 81px;
    border-radius: 25px;
}

#passwordRecoverDescription input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#signupDescription {
    margin-top: -312px;
    margin-left: 460px;
}

#passwordRecoverDescription {
    margin-top: 0px;
    margin-left: 102px;
}

#passwordRecoverDescription input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}
#PasswordRecovery1 input {
    border-radius: 5px;
    background-color: #ffe7c3; /*navajowhite;*/
    padding: 5px;
    font-size: 18px;
}

#CreateUserWizardStep1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#CompleteWizardStep1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#PasswordRecovery1{
    margin-top: -20px;
}

.systemArea {
    display: block;
    border: solid 5px #6f6fc4;
    border-radius: 0px 20px 20px 20px;
    padding-bottom: 200px;
    width: 537px;
    height: 401px;
}

#systemAreaPic1 {
    margin-top: 25px;
    width: 239px;
    height: 170px;
}

#systemAreaPic2 {
    margin-top: 35px;
    width: 250px;
    height: 170px;
}

.buildImageStyle {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 150px;
    float: right;
    margin-top: -100px;
}

.desktopArea, .laptopArea {
    display: block;
    border: solid 5px #6f6fc4;
    border-radius: 0px 20px 20px 20px;
    width: 635px;
    margin-bottom: 200px;
}

.desktopArea {
    height: 1500px;
}
.laptopArea {
    height: 1525px;
}

.cpuArea, .gpuArea, .hddArea,
.monitorArea, .osArea, .ramArea,
.soundcardArea {
    display: block;
    border: solid 5px #6f6fc4;
    border-radius: 0px 20px 20px 20px;
    width: 600px;
    margin-bottom: 200px;
    padding-bottom: 30px !important;
}

.catalogueImage {
    width: 150px;
    height: 150px;
    margin-left: 25px !important;
}

.catalogueContainer {
    display: inline-table;
    margin-right: 50px;
    margin-bottom: 25px;
    border: solid 5px #6f6fc4;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

#shoppingCartPanel {
    width: auto;
    border: solid 5px #6f6fc4;
    border-radius: 0px 0px 20px 20px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 675px;
    padding: 15px 25px;
    margin-bottom: 200px;
}

#cartHeader {
    color: #fd0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.9em;
}

#cartHeaderContainer {
    margin-top: 150px;
    width: auto;
    /* margin: 0; */
    padding: 15px 25px;
    background: #0d4075;
    font-size: 8px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 685px;
}

.itemTitle, .productItem {
    font-size: 25px;
    text-decoration: underline;
}

.itemConfiguration {
    border: solid;
    border: 1px 1px 1px solid black;
    display: block;
    width: 300px;
    padding: 10px 0px 10px 25px;
    margin-bottom: 12px;
    margin-top: -12px;
}

.itemPrice {
    font-size: 25px;
}

.productPrice {
    font-size: 25px;
    display: block;
    margin-top: 60px;
    margin-bottom: -80px;
}

.productQty {
    margin-top: 5px;
    display: block;
}
.productImageDesktop {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -205px;
    margin-right: 0px;
}

.productImageLaptop {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -205px;
    margin-right: 0px;
}

.productImage {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -15px;
}

.shoppingCartComponentLineBreak {
    margin-top: 91px;
}

.shoppingCartDesktopLineBreak {
    margin-top: 91px;
}

.shoppingCartLaptopLineBreak {
    margin-top: 91px;
}

.indexToRemoveDesktop { /*Button to remove index*/
    float: right;
    width: 90px;
    height: 30px;
    margin-right: 113px;
    margin-top: -166px;
}

.indexToRemoveLaptop { /*Button to remove index*/
    float: right;
    width: 90px;
    height: 30px;
    margin-right: 113px;
    margin-top: -166px;
}

.indexToRemoveComponent {    /*Button to remove index*/
    float: right;
    width: 90px;
    height: 30px;
    margin-right: 15px;
    margin-top: 15px;
}

#finalShoppingCartContainerSummary {
    color: #E84545;
    font-size: 23px;
    background-color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}